.blob-shape {
  width: 320px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50% 60% 40% 60% / 60% 40% 60%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25); /* Added shadow */
}

.blob-shape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.contact-wrapper {
  min-height: 100vh;
  background-image: url("https://plus.unsplash.com/premium_photo-1669658981858-b2ae0d7581a3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y29udGFjdCUyMHVzfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 120px 20px ;
}
.overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.content{
  position: relative;
  z-index: 5;

}
.form-box{
  min-width: 700px;
}
.card-img-fixed {
  height: 180px;           
  width: 100%;
  object-fit: cover;     
  display: block;
}